name: Build and Push Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ env.DOCKERHUB_TOKEN }}

    # Build and push Grafana image
    - name: Build and push Grafana image
      uses: docker/build-push-action@v5
      with:
        context: ./grafana
        file: ./grafana/Dockerfile
        push: true
        tags: ${{ env.DOCKERHUB_USERNAME }}/my-grafana:latest
        cache-from: type=registry,ref=${{ env.DOCKERHUB_USERNAME }}/my-grafana:latest
        cache-to: type=inline

    # Build and push Prometheus image
    - name: Build and push Prometheus image
      uses: docker/build-push-action@v5
      with:
        context: ./prometheus
        file: ./prometheus/Dockerfile
        push: true
        tags: ${{ env.DOCKERHUB_USERNAME }}/my-prometheus:latest
        cache-from: type=registry,ref=${{ env.DOCKERHUB_USERNAME }}/my-prometheus:latest
        cache-to: type=inline
