
name: Docker CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Grafana image
        uses: docker/build-push-action@v5
        with:
          context: ./grafana
          push: true
          tags: sana725/my-grafana:latest

      - name: Build and push Prometheus image
        uses: docker/build-push-action@v5
        with:
          context: ./prometheus
          push: true
          tags: sana725/my-prometheus:latest
