name: CI/CD - Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Build & Push Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build & Push Grafana Image
      - name: Build grafana image
        run: |
          docker build -t sana725/my-grafana:latest ./grafana
          docker push sana725/my-grafana:latest

      # Build & Push Prometheus Image
      - name: Build prometheus image
        run: |
          docker build -t sana725/my-prometheus:latest ./prometheus
          docker push sana725/my-prometheus:latest
